# Archives
archive/
archives/
*.tar.gz
*.zip

logs/
*.log

state.json
*.state.json

env/
*.env

.termux-properties
.termux-boot
.termux-history

.ssh/
*.pub
*.pem
*.key

__pycache__/
*.pyc

node_modules/
*.lock

.DS_Store
*.swp
*.bak
*.tmp
